<tr *ngFor="let p of projects">

  <td>{{ p.title }}</td>
  <td>{{ ownerName(p) }}</td>
  <td>{{ freelancerName(p) }}</td>

  <td>{{ p.amount }} DT</td>

  <td>
    <span [ngClass]="getStatusClass(p.paymentStatus)">
      {{ p.paymentStatus }}
    </span>
  </td>

  <td class="text-center">

    <button
      class="btn btn-primary btn-sm me-2"
      (click)="onRelease(p._id)"
      [disabled]="p.paymentStatus !== 'held'">
      💸 Release
    </button>

    <button
      class="btn btn-danger btn-sm"
      (click)="onRefund(p._id)"
      [disabled]="p.paymentStatus !== 'held'">
      ↩️ Refund
    </button>

  </td>

</tr>